@import "./reset";
@import "./var";
@import "./mixins";
@import "./animation";

html, body {
    font-size: 10px;
    font-family: $mainFont;
    font-weight: normal;
    background-color: $background1;
}