@font-face {
    font-family: "CircleLight";
    src: url('../fonts/Circe-Light.woff') format("woff");
}

@font-face {
    font-family: "Circle";
    src: url('../fonts/circe-2.woff') format("woff");
}

@font-face {
    font-family: "GilroyExtraBold";
    src: url('../fonts/Gilroy-ExtraBold.woff') format("woff");
}

@font-face {
    font-family: "GilroyLight";
    src: url('../fonts/Gilroy-Light.woff') format("woff");
}

@font-face {
    font-family: "DINPro";
    src: url('../fonts/DINPro.woff') format("woff");
}
@font-face {
    font-family: "DINProBold";
    src: url('../fonts/DINPro-Bold.woff') format("woff");
}

@font-face {
    font-family: 'Myriad';
    src: url('../fonts/MyriadPro-Regular.woff') format('woff');
}

@font-face {
    font-family: 'MyriadBold';
    src: url('../fonts/MyriadPro-Bold.woff') format('woff');
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

// FONTS
$mainFont: 'Roboto', sans-serif;
$mainSubTitleRegular: 'DINPro', sans-serif;
$DINProBold: 'DINProBold', sans-serif;
$mainFontLight: 'GilroyLight', sans-serif;
$contentFontBold: 'GilroyExtraBold', sans-serif;
$mainScrollRegular: 'Myriad', sans-serif;
$MyriadBold: 'MyriadBold', sans-serif;

$contentFont: 'CircleLight', sans-serif;
$contentFontCircle: 'Circle', sans-serif;
$btnFont: 'DINPro', sans-serif;

// COLOR

$mainColor: #111111;

$white: #ffffff;
$gray: #98989d;

$violet: #7751dd;
$blue: #007aff;
$cyan: #39d9d7;
$red: #ff2e55;
$pink: #d85c8e;
$orange: #ed712c;
$gold: #f3c823;
$yellow: #f3dd00;
$green1: #63cd23;
$green2: #176117;
$green3: #28cd41;

$backgroundPrimary: #dcffe4;
$background: #000000;
$background1: #222222;
$background2: #ffffff;
$background3: #f2f2f2;

$backgroundBlue: blue;
$backgroundOrange: orange;

$opacity: rgba(51, 51, 51, 0.5);

// SHADOW

// screens
$phoneVertical: 'min-width: 320px';
$phone: 'min-width: 576px';
$tablet: 'min-width: 768px';
$laptop: 'min-width: 992px';
$desktop: 'min-width: 1025px';
$projector: 'min-width: 1440px';

// breakpoints
// $phoneVertical: 320px
// $phone: 576px
// $tablet: 768px
// $laptop: 992px
// $desktop: 1024px
// $projector: 1024px