@import "../../../sass";

.main {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: green;
    overflow: hidden;
    &__slider-inner {
        display: flex;
        align-items: center;
        height: 100%;
        background: #007aff;
        transition: 0.5s all;
    }
}

.red {
    flex-shrink: 0;
    width: 100vw;
    height: 100%;
    background: red;
}

.yellow {
    flex-shrink: 0;
    width: 100vw;
    height: 100%;
    background: yellow;
}

.black {
    flex-shrink: 0;
    width: 100vw;
    height: 100%;
    background: $background1;
    color: white;
}

.left {
    position: absolute;
    left: 50px;
}

.right {
    position: absolute;
    left: 150px;
}